# **City Schools Analysis**

As the Chief Data Scientist for the city’s school district, I analyzed district-wide standardized test results as well as other information to understand trends in school performance.  Although the data was sufficient to establish a picture of the current situation, it also produced additional questions regarding its underlying reasons.  The following trends summarize my conclusions.

- More spending per student does not translate into better performance, especially in math (Table 10.1).

- Charter schools significantly outperform district schools (Table 13.1).  

- Small and medium schools are comparable in performance with large schools falling behind (Table 12.1).

- Test scores and passing rates for math and reading do not vary much between grades for any one school possibly implying consistency in student outcomes (Table 8.2.1 and Table 8.3.1).

- Mean and median scores are not significantly different for each school suggesting a symmetrical distribution of scores and passage rates (Table 8.2.3 and Table 8.3.3).

An cursory examination of the school district’s summary yielded useful insights: its 15 high schools have an annual total operating budget of \\$24.7 million for their mission to educate 39,000 students; average test scores range from 79 to 82, and average passing rates fall between 75\% to 85\%.  While there is certainly room for improvement, these metrics are not as significant when one sees the discrepancy of an overall passage rate of 65\%: this inconsistency led me to take a closer look at the data.

The two types of high schools in this school district cannot be more different.  Out of its 15 schools, seven are district and eight are charter.  In this analysis, I weigh per student spending more heavily than total budget, and this approach reveals contrasting circumstances:  the district high schools' average \\$644 per capita outlay, above the district wide average of \\$633, dwarfs the charter schools’ average expenditure per capita of \\$600.  Moreover, school size is also a distinctive consideration: all seven district schools are large while there are one large, five medium, and two small charter schools.  In terms of academic performance, a sorting of the school summary dataset based on overall passing rates reveals the five highest-performing schools to be all charter and the five lowest-performing schools to be all district.  Further examination conveys even more alarming news: all passing rates for charter schools exceed 90\% while district school passing rates lag significantly behind with the overall rate at 65\%.

There are two notable observations from the test scores and passage rates by grade for each high school: variations are remarkably small for all schools; and the difference between mean and median values is, for the most part, negligible.  Unchanging scores can indicate that, from one grade to another, each high school has a group of students who previously passed exams then fail them only to have another group of students approximately equal in number who previously failed exams pass them: this hypothetical situation is highly unlikely.  It is far more plausible that students who are successful in ninth grade are consistently successful for the next three grades and vice versa.  Although the reasons are unclear, these conditions can signify that school practices have led to consistency in student performance.  For all schools, the close mean and median values for scores and passing rates suggest symmetrical distributions; this occurrence coupled with the relatively unchanging scores and passing rates is unusual and suggests that the datasets may be artificial, even, computer generated.

In conclusion, the school district includes seven large district high schools and eight smaller charter high schools.  Despite higher per capita spending, the district schools trail behind the charter schools in performance and bring down the district-wide averages for test scores and passing rates.  Thus, this disparity in school performance is a catalyst for further investigation.  Although there are many possibilities, the culprit is likely either district and school practices, social problems, or a combination of both.  As such, I suggest an additional study to root out the fundamental causes behind these conclusions.

In [1]:
#*******************************************************************************************
 #
 #  File Name:  city_schools.ipynb
 #
 #  File Description:
 #      This interactive Python notebook, city_schools.ipynb, reads two csv files,
 #      students_data.csv and schools_data.csv, in the folder, resources, which 
 #      contain data about students and schools in a single school district.  From 
 #      this data, the notebook performs the necessary calculations to create a 
 #      high-level snapshot of the school district's key metrics. The analysis 
 #      above reflects my conclusions about these metrics.
 #
 #
 #  Date            Description                             Programmer
 #  ----------      ------------------------------------    ------------------
 #  07/30/2023      Initial Development                     Nicholas J. George
 #
 #******************************************************************************************/

import city_schools_constants
import logx
import pandas_processx

import pandas as pd

pd.options.mode.chained_assignment = None

In [2]:
CONSTANT_LOCAL_FILE_NAME = 'city_schools_analysis.ipynb'


logx.set_log_mode(False)

logx.set_image_mode(False)


logx.begin_program('city_schools_analysis')

# <br> **Section 1: Extraction**

## **Section 1.1: Read CSV Files**

###  **Create DataFrames**

In [3]:
data_type_dictionary \
    = {'Student ID': int,
       'student_name':	str,
       'gender': str,
       'grade': str,
       'school_name': str,
       'reading_score': int,
       'math_score': int}

student_dataframe \
    = pd.read_csv(city_schools_constants.STUDENT_DATA_INPUT_FILE_PATH, dtype = data_type_dictionary)

logx.log_write_object(student_dataframe)

In [4]:
data_type_dictionary \
    = {'Student ID': int,
       'student_name':	str,
       'type': str,
       'size': int,
       'budget': int}

school_dataframe \
    = pd.read_csv(city_schools_constants.SCHOOL_DATA_INPUT_FILE_PATH, dtype = data_type_dictionary)

logx.log_write_object(school_dataframe)

## **1.2: Merge DataFrames**

###  **Create Merged DataFrame**

In [5]:
on_string_list \
    = [student_dataframe.keys()[city_schools_constants.student_keys_enumeration.SCHOOL_NAME.value],
       student_dataframe.keys()[city_schools_constants.student_keys_enumeration.SCHOOL_NAME.value]]

complete_school_dataframe \
    = pd.merge \
        (student_dataframe,
         school_dataframe,
         how = 'left',
         on = on_string_list)

logx.log_write_object(complete_school_dataframe)

### **Display Merged DataFrame**

In [6]:
pandas_processx.return_formatted_table \
    (complete_school_dataframe, 'Table 1.2: Complete School Data Set')

# <br> **Section 2: School District Metrics**

## **2.1: Calculations**

In [7]:
school_count_integer \
    = complete_school_dataframe \
        [complete_school_dataframe.keys() \
            [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]] \
                .nunique()

logx.log_write_object(school_count_integer)

In [8]:
student_count_integer = len(complete_school_dataframe.index)

logx.log_write_object(student_count_integer)

In [9]:
total_budget_integer \
    = (complete_school_dataframe.groupby \
        (complete_school_dataframe.keys() \
             [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]) \
                [complete_school_dataframe.keys()[city_schools_constants.school_keys_enumeration.BUDGET.value]] \
                    .unique() \
                    .sum())[0]

logx.log_write_object(total_budget_integer)

In [10]:
average_math_score_float \
    = round \
        (complete_school_dataframe[complete_school_dataframe.keys() \
            [city_schools_constants.school_keys_enumeration.MATH_SCORE.value]] \
                .mean(),
         city_schools_constants.NUMBER_OF_DECIMAL_PLACES)

logx.log_write_object(average_math_score_float)

In [11]:
average_reading_score_float \
    = round \
        (complete_school_dataframe \
            [complete_school_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.READING_SCORE.value]] \
                    .mean(),
         city_schools_constants.NUMBER_OF_DECIMAL_PLACES)

logx.log_write_object(average_reading_score_float)

In [12]:
math_passing_count_integer \
    = complete_school_dataframe \
        [(complete_school_dataframe \
            [complete_school_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.MATH_SCORE.value]] \
                  >= city_schools_constants.MINIMUM_PASSING_TEST_SCORE)].count() \
            [complete_school_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.STUDENT_NAME.value]]

math_passing_percentage_float \
    = round \
        (float(math_passing_count_integer) / float(student_count_integer) * 100,
         city_schools_constants.NUMBER_OF_DECIMAL_PLACES)

logx.log_write_object(math_passing_percentage_float)

In [13]:
reading_passing_count_integer \
    = complete_school_dataframe \
        [(complete_school_dataframe \
            [complete_school_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.READING_SCORE.value]] \
                  >= city_schools_constants.MINIMUM_PASSING_TEST_SCORE)].count() \
            [complete_school_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.STUDENT_NAME.value]]

reading_passing_percentage_float \
    = round \
        (float(reading_passing_count_integer) / float(student_count_integer) * 100,
        city_schools_constants.NUMBER_OF_DECIMAL_PLACES)

logx.log_write_object(reading_passing_percentage_float)

In [14]:
math_and_reading_passing_count_integer \
    = complete_school_dataframe \
        [(complete_school_dataframe \
            [complete_school_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.MATH_SCORE.value]] \
                  >= city_schools_constants.MINIMUM_PASSING_TEST_SCORE) \
          & (complete_school_dataframe \
                [complete_school_dataframe.keys() \
                    [city_schools_constants.school_keys_enumeration.READING_SCORE.value]] \
                     >= city_schools_constants.MINIMUM_PASSING_TEST_SCORE)].count() \
        [complete_school_dataframe.keys() \
            [city_schools_constants.school_keys_enumeration.STUDENT_NAME.value]]

overall_passing_rate_float \
    = round \
        (float(math_and_reading_passing_count_integer) / float(student_count_integer) * 100,
         city_schools_constants.NUMBER_OF_DECIMAL_PLACES)

logx.log_write_object(overall_passing_rate_float)

## **2.2: Summary of Calculations**

In [15]:
school_district_dictionary_list \
    = [{'total_schools': school_count_integer,
        'total_students': student_count_integer,
        'total_budget': total_budget_integer,
        'average_math_score': average_math_score_float,
        'average_reading_score': average_reading_score_float,
        '%_passing_math': math_passing_percentage_float,
        '%_passing_reading': reading_passing_percentage_float,
        '%_overall_passing': overall_passing_rate_float}]

school_district_dataframe = pd.DataFrame(school_district_dictionary_list)

logx.log_write_object(school_district_dataframe)

## **2.3: Display School District Metrics**

In [16]:
pandas_processx.return_formatted_table \
    (school_district_dataframe, 'Table 2.3: School District Metrics')

# <br> **Section 3: School Metrics**

## **3.1: Calculations**

In [17]:
school_types_series \
    = complete_school_dataframe \
        .groupby \
            ([complete_school_dataframe.keys()
                [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]]) \
            [complete_school_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.TYPE.value]] \
        .unique()

for i, row in school_types_series.items():

    school_types_series[i] = school_types_series[i][0]

logx.log_write_object(school_types_series)

In [18]:
student_count_per_school_series \
    = complete_school_dataframe \
        .groupby \
            ([complete_school_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]]) \
            [complete_school_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]] \
        .size()

logx.log_write_object(student_count_per_school_series)

In [19]:
budget_per_school_series \
    = complete_school_dataframe \
        .groupby \
            ([complete_school_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]]) \
            [complete_school_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.BUDGET.value]] \
        .unique()

for i, row in budget_per_school_series.items():
    
    budget_per_school_series[i] = budget_per_school_series[i][0]

logx.log_write_object(budget_per_school_series)

In [20]:
per_capita_spending_per_school_series \
    = budget_per_school_series.astype(float) / student_count_per_school_series.astype(float)

logx.log_write_object(per_capita_spending_per_school_series)

In [21]:
mean_math_score_per_school_series \
    = complete_school_dataframe \
        .groupby \
            ([complete_school_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]]) \
            [complete_school_dataframe.keys()[city_schools_constants.school_keys_enumeration.MATH_SCORE.value]] \
        .sum() \
      / student_count_per_school_series.astype(float)

logx.log_write_object(mean_math_score_per_school_series)

In [22]:
mean_reading_score_per_school_series \
    = complete_school_dataframe \
        .groupby \
            ([complete_school_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]]) \
            [complete_school_dataframe.keys()[city_schools_constants.school_keys_enumeration.READING_SCORE.value]] \
        .sum() \
      / student_count_per_school_series.astype(float)

logx.log_write_object(mean_reading_score_per_school_series)

In [23]:
students_passing_math_dataframe \
    = complete_school_dataframe \
        [(complete_school_dataframe \
            [complete_school_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.MATH_SCORE.value]] \
                  >= city_schools_constants.MINIMUM_PASSING_TEST_SCORE)]

students_passing_math_per_school_series \
    = students_passing_math_dataframe \
        .groupby \
            ([students_passing_math_dataframe \
                [students_passing_math_dataframe.keys() \
                    [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]]]) \
        .size()

logx.log_write_object(students_passing_math_per_school_series)

In [24]:
students_passing_reading_dataframe \
    = complete_school_dataframe \
        [(complete_school_dataframe \
            [complete_school_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.READING_SCORE.value]] \
                  >= city_schools_constants.MINIMUM_PASSING_TEST_SCORE)]

students_passing_reading_per_school_series \
    = students_passing_reading_dataframe \
        .groupby \
            ([students_passing_reading_dataframe \
                [students_passing_reading_dataframe.keys() \
                    [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]]]) \
        .size()

logx.log_write_object(students_passing_reading_per_school_series)

In [25]:
students_passing_math_and_reading_dataframe \
    = complete_school_dataframe \
        [(complete_school_dataframe \
            [complete_school_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.MATH_SCORE.value]] \
                  >= city_schools_constants.MINIMUM_PASSING_TEST_SCORE) 
         & (complete_school_dataframe \
                [complete_school_dataframe.keys() \
                    [city_schools_constants.school_keys_enumeration.READING_SCORE.value]] \
                        >= city_schools_constants.MINIMUM_PASSING_TEST_SCORE) ]

students_passing_math_and_reading_per_school_series \
    = students_passing_math_and_reading_dataframe \
        .groupby \
            ([students_passing_math_and_reading_dataframe \
                [students_passing_math_and_reading_dataframe.keys() \
                    [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]]]) \
        .size()

logx.log_write_object(students_passing_math_and_reading_per_school_series)

In [26]:
math_passing_rate_per_school_series \
    = (students_passing_math_per_school_series.astype(float) \
       / student_count_per_school_series.astype(float)) \
      * 100

logx.log_write_object(math_passing_rate_per_school_series)

In [27]:
reading_passing_rate_per_school_series \
    = (students_passing_reading_per_school_series.astype(float) \
       / student_count_per_school_series.astype(float)) \
      * 100

logx.log_write_object(reading_passing_rate_per_school_series)

In [28]:
overall_passing_rate_per_school_series \
    = (students_passing_math_and_reading_per_school_series.astype(float) \
       / student_count_per_school_series.astype(float)) \
      * 100

logx.log_write_object(overall_passing_rate_per_school_series)

## **3.2: Summary of Calculations**

In [29]:
school_summary_dataframe \
    = pd.concat \
        ({'school_type': school_types_series,
          'total_students': student_count_per_school_series,
          'total_school_budget': budget_per_school_series,
          'per_student_budget': per_capita_spending_per_school_series,
          'average_math_score': mean_math_score_per_school_series,
          'average_reading_score': mean_reading_score_per_school_series,
          '%_passing_math': math_passing_rate_per_school_series,
          '%_passing_reading': reading_passing_rate_per_school_series,
          '%_overall_passing': overall_passing_rate_per_school_series},
         axis = 1)

school_summary_dataframe.index.name = 'school_name'

logx.log_write_object(school_summary_dataframe)

## **3.3: Display School Metrics**

In [30]:
highlight_column_string_list \
    = ['total_students', 
       'total_school_budget',
       'per_student_budget',
       'average_math_score',
       'average_reading_score',
       '%_passing_math',
       '%_passing_reading',
       '%_overall_passing']

pandas_processx.return_formatted_table \
    (school_summary_dataframe, 'Table 3.3: School Metrics', hide_index_boolean = False) \
        .format \
            ({'total_students': '{:,}',
              'total_school_budget': '${:,.2f}',
              'per_student_budget': '${:,.2f}',
              'average_math_score': '{:,.2f}',
              'average_reading_score': '{:,.2f}',
              '%_passing_math': '{:,.2f}%',
              '%_passing_reading': '{:,.2f}%',
              '%_overall_passing': '{:,.2f}%'}) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

# <br> **Section 4: School Performance**

## **4.1: Highest-Performing Schools**

## **Calculations**

In [31]:
top_schools_dataframe \
    = school_summary_dataframe.sort_values \
        (by = [school_summary_dataframe.keys() \
                   [city_schools_constants.school_summary_keys_enumeration.PERCENT_OVERALL_PASSING.value]],
         ascending = False)

top_schools_dataframe.index.name = 'school_name'

logx.log_write_object(top_schools_dataframe)

## **Display Highest-Performing Schools**

In [32]:
pandas_processx.return_formatted_table \
    (top_schools_dataframe, 'Table 4.1: Highest-Performing Schools', hide_index_boolean = False) \
        .format \
            ({'total_students': '{:,}',
              'total_school_budget': '${:,.2f}',
              'per_student_budget': '${:,.2f}',
              'average_math_score': '{:,.2f}',
              'average_reading_score': '{:,.2f}',
              '%_passing_math': '{:,.2f}%',
              '%_passing_reading': '{:,.2f}%',
              '%_overall_passing': '{:,.2f}%'}) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

## **4.2: Lowest-Performing Schools**

## **Calculations**

In [33]:
lowest_schools_dataframe \
    = school_summary_dataframe.sort_values \
        (by = [school_summary_dataframe.keys() \
                [city_schools_constants.school_summary_keys_enumeration.PERCENT_OVERALL_PASSING.value]],
         ascending = True)

logx.log_write_object(lowest_schools_dataframe)

## **Display Lowest-Performing Schools**

In [34]:
pandas_processx.return_formatted_table \
    (lowest_schools_dataframe, 'Table 4.2: Lowest-Performing Schools', hide_index_boolean = False) \
        .format \
            ({'total_students': '{:,}',
              'total_school_budget': '${:,.2f}',
              'per_student_budget': '${:,.2f}',
              'average_math_score': '{:,.2f}',
              'average_reading_score': '{:,.2f}',
              '%_passing_math': '{:,.2f}%',
              '%_passing_reading': '{:,.2f}%',
              '%_overall_passing': '{:,.2f}%'}) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

# <br> **Section 5: Test Scores By Grade**

## **5.1: Data Extraction by Grade**

In [35]:
ninth_grader_dataframe \
    = complete_school_dataframe \
        [(complete_school_dataframe \
            [complete_school_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.GRADE.value]] == '9th')]

logx.log_write_object(ninth_grader_dataframe)

In [36]:
tenth_grader_dataframe \
    = complete_school_dataframe \
        [(complete_school_dataframe \
            [complete_school_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.GRADE.value]] == '10th')]

logx.log_write_object(tenth_grader_dataframe)

In [37]:
eleventh_grader_dataframe \
    = complete_school_dataframe \
        [(complete_school_dataframe \
            [complete_school_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.GRADE.value]] == '11th')]

logx.log_write_object(eleventh_grader_dataframe)

In [38]:
twelfth_grader_dataframe \
    = complete_school_dataframe \
        [(complete_school_dataframe \
            [complete_school_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.GRADE.value]] == '12th')]

logx.log_write_object(twelfth_grader_dataframe)

## **5.2: Math Scores by Grade**

## **Math Scores (Mean) by Grade**

### Calculations (Math Scores (Mean))

In [39]:
ninth_grader_mean_math_scores_series \
    = ninth_grader_dataframe \
        .groupby \
            ([ninth_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]]) \
            [ninth_grader_dataframe.keys()[city_schools_constants.school_keys_enumeration.MATH_SCORE.value]] \
        .mean()

logx.log_write_object(ninth_grader_mean_math_scores_series)

In [40]:
tenth_grader_mean_math_scores_series \
    = tenth_grader_dataframe \
        .groupby \
            ([tenth_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]]) \
            [tenth_grader_dataframe.keys()[city_schools_constants.school_keys_enumeration.MATH_SCORE.value]] \
        .mean()

logx.log_write_object(tenth_grader_mean_math_scores_series)

In [41]:
eleventh_grader_mean_math_scores_series \
    = eleventh_grader_dataframe \
        .groupby \
            ([eleventh_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]]) \
            [eleventh_grader_dataframe.keys()[city_schools_constants.school_keys_enumeration.MATH_SCORE.value]] \
        .mean()

logx.log_write_object(eleventh_grader_mean_math_scores_series)

In [42]:
twelfth_grader_mean_math_scores_series \
    = twelfth_grader_dataframe \
        .groupby \
            ([twelfth_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]]) \
            [twelfth_grader_dataframe.keys()[city_schools_constants.school_keys_enumeration.MATH_SCORE.value]] \
        .mean()

logx.log_write_object(twelfth_grader_mean_math_scores_series)

### Summary of Calculations (Math Scores (Mean))

In [43]:
mean_math_scores_by_grade_dataframe \
    = pd.concat \
        ({'9th': ninth_grader_mean_math_scores_series,
          '10th': tenth_grader_mean_math_scores_series,
          '11th': eleventh_grader_mean_math_scores_series,
          '12th': twelfth_grader_mean_math_scores_series},
         axis = 1)

mean_math_scores_by_grade_dataframe.index.name = 'school_name'

logx.log_write_object(mean_math_scores_by_grade_dataframe)

## **Math Scores (Median) by Grade**

### Calculations (Math Scores (Median))

In [44]:
ninth_grader_median_math_scores_series \
    = ninth_grader_dataframe \
        .groupby \
            ([ninth_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]]) \
            [ninth_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.MATH_SCORE.value]] \
        .median()

logx.log_write_object(ninth_grader_median_math_scores_series)

In [45]:
tenth_grader_median_math_scores_series \
    = tenth_grader_dataframe \
        .groupby \
            ([tenth_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]]) \
            [tenth_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.MATH_SCORE.value]] \
        .median()

logx.log_write_object(tenth_grader_median_math_scores_series)

In [46]:
eleventh_grader_median_math_scores_series \
    = eleventh_grader_dataframe \
        .groupby \
            ([eleventh_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]]) \
            [eleventh_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.MATH_SCORE.value]] \
        .median()

logx.log_write_object(eleventh_grader_median_math_scores_series)

In [47]:
twelfth_grader_median_math_scores_series \
    = twelfth_grader_dataframe \
        .groupby \
            ([twelfth_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]]) \
            [twelfth_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.MATH_SCORE.value]] \
        .median()

logx.log_write_object(twelfth_grader_median_math_scores_series)

### Summary of Calculations (Math Scores (Median))

In [48]:
median_math_scores_by_grade_dataframe \
    = pd.concat \
        ({'9th': ninth_grader_median_math_scores_series,
          '10th': tenth_grader_median_math_scores_series,
          '11th': eleventh_grader_median_math_scores_series,
          '12th': twelfth_grader_median_math_scores_series},
         axis = 1)

median_math_scores_by_grade_dataframe.index.name = 'school_name'

logx.log_write_object(median_math_scores_by_grade_dataframe)

## **Math Scores (Mean/Median) by Grade**

### Summary of Calculations (Math Scores (Mean/Median))

In [49]:
mean_median_math_scores_dataframe \
    = mean_math_scores_by_grade_dataframe \
        .compare \
            (median_math_scores_by_grade_dataframe,
             align_axis = 1,
             keep_shape = True,
             keep_equal = True) \
        .rename \
            (columns = {'self': 'mean', 'other': 'median'},
             level = -1)

mean_median_math_scores_dataframe.index.name = 'school_name'

logx.log_write_object(mean_median_math_scores_dataframe)

## **Display Math Scores (Mean) by Grade**

In [50]:
highlight_column_string_list = ['9th', '10th', '11th', '12th']

pandas_processx.return_formatted_table \
    (mean_math_scores_by_grade_dataframe, 
     'Table 5.2.1: Math Scores (Mean) by Grade',
     hide_index_boolean = False) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

## **Display Math Scores (Median) by Grade**

In [51]:
pandas_processx.return_formatted_table \
    (median_math_scores_by_grade_dataframe,
     'Table 5.2.2: Math Scores (Median) by Grade',
     hide_index_boolean = False) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

## **Display Math Scores (Mean/Median) by Grade**

In [52]:
pandas_processx.return_formatted_table \
    (mean_median_math_scores_dataframe,
     'Table 5.2.3: Math Scores (Mean/Median) by Grade',
     hide_index_boolean = False) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

## **5.3: Reading Scores by Grade**

## **Reading Scores (Mean) by Grade**

### Calculations (Reading Scores (Mean))

In [53]:
ninth_grader_mean_reading_scores_series \
    = ninth_grader_dataframe \
        .groupby \
            ([ninth_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]]) \
            [ninth_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.READING_SCORE.value]] \
        .mean()

logx.log_write_object(ninth_grader_mean_reading_scores_series)

In [54]:
tenth_grader_mean_reading_scores_series \
    = tenth_grader_dataframe \
        .groupby \
            ([tenth_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]]) \
            [tenth_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.READING_SCORE.value]] \
        .mean()

logx.log_write_object(tenth_grader_mean_reading_scores_series)

In [55]:
eleventh_grader_mean_reading_scores_series \
    = eleventh_grader_dataframe \
        .groupby \
            ([eleventh_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]]) \
            [eleventh_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.READING_SCORE.value]] \
        .mean()

logx.log_write_object(eleventh_grader_mean_reading_scores_series)

In [56]:
twelfth_grader_mean_reading_scores_series \
    = twelfth_grader_dataframe \
        .groupby \
            ([twelfth_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]]) \
            [twelfth_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.READING_SCORE.value]] \
        .mean()

logx.log_write_object(twelfth_grader_mean_reading_scores_series)

### Summary of Calculations (Reading Scores (Mean))

In [57]:
mean_reading_scores_by_grade_dataframe \
    = pd.concat \
        ({'9th': ninth_grader_mean_reading_scores_series,
          '10th': tenth_grader_mean_reading_scores_series,
          '11th': eleventh_grader_mean_reading_scores_series,
          '12th': twelfth_grader_mean_reading_scores_series},
         axis = 1)

mean_reading_scores_by_grade_dataframe.index.name = 'school_name'

logx.log_write_object(mean_reading_scores_by_grade_dataframe)

## **Reading Scores (Median) by Grade**

### Calculations (Reading Scores (Median))

In [58]:
ninth_grader_median_reading_scores_series \
    = ninth_grader_dataframe \
        .groupby \
            ([ninth_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]]) \
            [ninth_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.READING_SCORE.value]] \
        .median()

logx.log_write_object(ninth_grader_median_reading_scores_series)

In [59]:
tenth_grader_median_reading_scores_series \
    = tenth_grader_dataframe \
        .groupby \
            ([tenth_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]]) \
            [tenth_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.READING_SCORE.value]] \
        .median()

logx.log_write_object(tenth_grader_median_reading_scores_series)

In [60]:
eleventh_grader_median_reading_scores_series \
    = eleventh_grader_dataframe \
        .groupby \
            ([eleventh_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]]) \
            [eleventh_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.READING_SCORE.value]] \
        .median()

logx.log_write_object(eleventh_grader_median_reading_scores_series)

In [61]:
twelfth_grader_median_reading_scores_series \
    = twelfth_grader_dataframe \
        .groupby \
            ([twelfth_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.SCHOOL_NAME.value]]) \
            [twelfth_grader_dataframe.keys() \
                [city_schools_constants.school_keys_enumeration.READING_SCORE.value]] \
        .median()

logx.log_write_object(twelfth_grader_median_reading_scores_series)

### Summary of Calculations (Reading Scores (Median))

In [62]:
median_reading_scores_by_grade_dataframe \
    = pd.concat \
        ({'9th': ninth_grader_median_reading_scores_series,
          '10th': tenth_grader_median_reading_scores_series,
          '11th': eleventh_grader_median_reading_scores_series,
          '12th': twelfth_grader_median_reading_scores_series},
         axis = 1)

median_reading_scores_by_grade_dataframe.index.name = 'school_name'

logx.log_write_object(median_reading_scores_by_grade_dataframe)

## **Reading Scores (Mean/Median) by Grade**

### Summary of Calculations (Reading Scores (Mean/Median))

In [63]:
mean_median_reading_scores_dataframe \
    = mean_reading_scores_by_grade_dataframe \
        .compare \
            (median_reading_scores_by_grade_dataframe,
             align_axis = 1.0,
             keep_shape = True,
             keep_equal = True) \
        .rename \
            (columns = {'self': 'Mean', 'other': 'Median'},
             level = -1)

mean_median_reading_scores_dataframe.index.name = 'school_name'

logx.log_write_object(mean_median_reading_scores_dataframe)

## **Display Reading Scores (Mean) by Grade**

In [64]:
highlight_column_string_list = ['9th', '10th', '11th', '12th']

pandas_processx.return_formatted_table \
    (mean_reading_scores_by_grade_dataframe,
     'Table 5.3.1: Reading Scores (Mean) by Grade',
     hide_index_boolean = False) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

## **Display Reading Scores (Median) by Grade**

In [65]:
pandas_processx.return_formatted_table \
    (median_reading_scores_by_grade_dataframe,
     'Table 5.3.2: Reading Scores (Median) by Grade',
     hide_index_boolean = False) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

## **Display Reading Scores (Mean/Median) by Grade**

In [66]:
pandas_processx.return_formatted_table \
    (mean_median_reading_scores_dataframe,
     'Table 5.3.3: Reading Scores (Mean/Median) by Grade',
     hide_index_boolean = False) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

# <br> **Section 6: School Metrics with Spending Ranges**

## **6.1: Calculations**

In [67]:
# This line of code creates a copy of the school summary DataFrame 
# and assigns it to the scores by school spending DataFrame.
scores_by_school_spending_dataframe = school_summary_dataframe.copy()

scores_by_school_spending_dataframe.index.name = 'school_name'

# This line of code establishes the bins for the spending ranges. 
school_spending_bins_integer_list = [0, 585, 630, 645, 680]

# This line of code establishes the labels for the spending ranges.
school_spending_labels_string_list = ['<$585', '$585-630', '$630-645', '$645-680']

In [68]:
# This line of code creates a new column in the scores by school 
# spending DataFrame for spending ranges: the Pandas subroutine, 
# `pd.cut`, creates the spending ranges based on the predefined 
# bins and labels and assigns them to the new column.
scores_by_school_spending_dataframe['spending_ranges_per_student'] \
    = pd.cut \
        (x = scores_by_school_spending_dataframe \
                [scores_by_school_spending_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.PER_STUDENT_BUDGET.value]],
         bins = school_spending_bins_integer_list,
         labels = school_spending_labels_string_list)

logx.log_write_object(scores_by_school_spending_dataframe['spending_ranges_per_student'])

## **6.2: Display School Metrics with Spending Ranges**

In [69]:
highlight_column_string_list \
    = ['total_students', 
       'total_school_budget',
       'per_student_budget',
       'average_math_score',
       'average_reading_score',
       '%_passing_math',
       '%_passing_reading',
       '%_overall_passing']

pandas_processx.return_formatted_table \
    (scores_by_school_spending_dataframe,
     'Table 6.2: School Metrics with Spending Ranges',
     hide_index_boolean = False) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

# <br> **Section 7: Test Scores/Passing Rates by Spending Ranges**

## **7.1: Test Scores/Passing Rates (Mean) by Spending Ranges**

## **Calculations**

In [70]:
mean_math_scores_spending_series \
    = scores_by_school_spending_dataframe \
        .groupby \
            ([scores_by_school_spending_dataframe.keys() \
                [city_schools_constants.school_summary_keys_enumeration.OPTIONAL_SPENDING_RANGES_PER_STUDENT.value]], 
             observed = False) \
            [scores_by_school_spending_dataframe.keys() \
                [city_schools_constants.school_summary_keys_enumeration.MATH_SCORE.value]] \
        .mean()

logx.log_write_object(mean_math_scores_spending_series)

In [71]:
mean_reading_scores_spending_series \
    = scores_by_school_spending_dataframe \
        .groupby \
            ([scores_by_school_spending_dataframe.keys() \
                [city_schools_constants.school_summary_keys_enumeration.OPTIONAL_SPENDING_RANGES_PER_STUDENT.value]], 
             observed = False) \
            [scores_by_school_spending_dataframe.keys() \
                [city_schools_constants.school_summary_keys_enumeration.READING_SCORE.value]] \
        .mean()

logx.log_write_object(mean_reading_scores_spending_series)

In [72]:
mean_math_passing_rate_spending_series \
    = scores_by_school_spending_dataframe \
        .groupby \
            ([scores_by_school_spending_dataframe.keys() \
                [city_schools_constants.school_summary_keys_enumeration.OPTIONAL_SPENDING_RANGES_PER_STUDENT.value]], 
             observed = False) \
            [scores_by_school_spending_dataframe.keys() \
                [city_schools_constants.school_summary_keys_enumeration.PERCENT_PASSING_MATH.value]] \
        .mean()

logx.log_write_object(mean_math_passing_rate_spending_series)

In [73]:
mean_reading_passing_rate_spending_series \
    = scores_by_school_spending_dataframe \
        .groupby \
            ([scores_by_school_spending_dataframe.keys() \
                [city_schools_constants.school_summary_keys_enumeration.OPTIONAL_SPENDING_RANGES_PER_STUDENT.value]], 
             observed = False) \
            [scores_by_school_spending_dataframe.keys() \
                [city_schools_constants.school_summary_keys_enumeration.PERCENT_PASSING_READING.value]] \
        .mean()

logx.log_write_object(mean_reading_passing_rate_spending_series)

In [74]:
mean_overall_passing_rate_spending_series \
    = scores_by_school_spending_dataframe \
        .groupby \
            ([scores_by_school_spending_dataframe.keys() \
                [city_schools_constants.school_summary_keys_enumeration.OPTIONAL_SPENDING_RANGES_PER_STUDENT.value]], 
             observed = False) \
            [scores_by_school_spending_dataframe.keys() \
                [city_schools_constants.school_summary_keys_enumeration.PERCENT_OVERALL_PASSING.value]] \
        .mean()

logx.log_write_object(mean_overall_passing_rate_spending_series)

## **Summary of Calculations**

In [75]:
mean_scores_summary_dataframe \
    = pd.concat \
        ({'math_score': mean_math_scores_spending_series,
          'reading_score': mean_reading_scores_spending_series,
          '%_passing_math': mean_math_passing_rate_spending_series,
          '%_passing_reading': mean_reading_passing_rate_spending_series,
          '%_overall_passing': mean_overall_passing_rate_spending_series},
         axis = 1)

mean_scores_summary_dataframe.index.name = 'spending_range'

logx.log_write_object(mean_scores_summary_dataframe)

## **7.2: Test Scores/Passing Rates (Median) by Spending Ranges**

## **Calculations**

In [76]:
median_math_scores_spending_series \
    = scores_by_school_spending_dataframe \
        .groupby \
            ([scores_by_school_spending_dataframe.keys() \
                [city_schools_constants.school_summary_keys_enumeration.OPTIONAL_SPENDING_RANGES_PER_STUDENT.value]], 
             observed = False) \
            [scores_by_school_spending_dataframe.keys() \
                [city_schools_constants.school_summary_keys_enumeration.MATH_SCORE.value]] \
        .median()

logx.log_write_object(median_math_scores_spending_series)

In [77]:
median_reading_scores_spending_series \
    = scores_by_school_spending_dataframe \
        .groupby \
            ([scores_by_school_spending_dataframe.keys() \
                [city_schools_constants.school_summary_keys_enumeration.OPTIONAL_SPENDING_RANGES_PER_STUDENT.value]], 
             observed = False) \
            [scores_by_school_spending_dataframe.keys() \
                [city_schools_constants.school_summary_keys_enumeration.READING_SCORE.value]] \
        .median()

logx.log_write_object(median_reading_scores_spending_series)

In [78]:
median_math_passing_rate_spending_series \
    = scores_by_school_spending_dataframe \
        .groupby \
            ([scores_by_school_spending_dataframe.keys() \
                [city_schools_constants.school_summary_keys_enumeration.OPTIONAL_SPENDING_RANGES_PER_STUDENT.value]], 
             observed = False) \
            [scores_by_school_spending_dataframe.keys() \
                [city_schools_constants.school_summary_keys_enumeration.PERCENT_PASSING_MATH.value]] \
        .median()

logx.log_write_object(median_math_passing_rate_spending_series)

In [79]:
median_reading_passing_rate_spending_series \
    = scores_by_school_spending_dataframe \
        .groupby \
            ([scores_by_school_spending_dataframe.keys() \
                [city_schools_constants.school_summary_keys_enumeration.OPTIONAL_SPENDING_RANGES_PER_STUDENT.value]], 
             observed = False) \
            [scores_by_school_spending_dataframe.keys() \
                [city_schools_constants.school_summary_keys_enumeration.PERCENT_PASSING_READING.value]] \
        .median()

logx.log_write_object(median_reading_passing_rate_spending_series)

In [80]:
median_overall_passing_rate_spending_series \
    = scores_by_school_spending_dataframe \
        .groupby \
            ([scores_by_school_spending_dataframe.keys() \
                [city_schools_constants.school_summary_keys_enumeration.OPTIONAL_SPENDING_RANGES_PER_STUDENT.value]], 
             observed = False) \
            [scores_by_school_spending_dataframe.keys() \
                [city_schools_constants.school_summary_keys_enumeration.PERCENT_OVERALL_PASSING.value]] \
        .median()

logx.log_write_object(median_overall_passing_rate_spending_series)

## **Summary of Calculations**

In [81]:
median_scores_summary_dataframe \
    = pd.concat \
        ({'math_score': median_math_scores_spending_series,
          'reading_score': median_reading_scores_spending_series,
          '%_passing_math': median_math_passing_rate_spending_series,
          '%_passing_reading': median_reading_passing_rate_spending_series,
          '%_overall_passing': median_overall_passing_rate_spending_series},
         axis = 1)

median_scores_summary_dataframe.index.name = 'spending_range'

logx.log_write_object(median_scores_summary_dataframe)

## **7.3: Test Scores/Passing Rates (Mean/Median) by Spending Ranges**

## **Summary of Calculations**

In [82]:
mean_median_summary_dataframe \
    = mean_scores_summary_dataframe \
        .compare \
            (median_scores_summary_dataframe,
             align_axis = 1,
             keep_shape = True,
             keep_equal = True) \
        .rename \
            (columns = {'self': 'mean', 'other': 'median'},
             level = -1)

mean_median_summary_dataframe.index.name = 'spending_range'

logx.log_write_object(mean_median_summary_dataframe)

## **7.4: Display Test Scores/Passing Rates (Mean) by Spending Ranges**

In [83]:
highlight_column_string_list \
    = ['math_score', 
       'reading_score',
       '%_passing_math',
       '%_passing_reading',
       '%_overall_passing']

pandas_processx.return_formatted_table \
    (mean_scores_summary_dataframe,
     'Table 7.4: Test Scores/Passing Rates (Mean) by Spending Ranges',
     hide_index_boolean = False) \
        .format \
            ({'math_score': '{:,.2f}',
              'reading_score': '{:,.2f}',
              '%_passing_math': '{:,.2f}%',
              '%_passing_reading': '{:,.2f}%',
              '%_overall_passing': '{:,.2f}%'}) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

## **7.5: Display Test Scores/Passing Rates (Median) by Spending Ranges**

In [84]:
pandas_processx.return_formatted_table \
    (median_scores_summary_dataframe,
     'Table 7.5: Test Scores/Passing Rates (Median) by Spending Ranges',
     hide_index_boolean = False) \
        .format \
            ({'math_score': '{:,.2f}',
              'reading_score': '{:,.2f}',
              '%_passing_math': '{:,.2f}%',
              '%_passing_reading': '{:,.2f}%',
              '%_overall_passing': '{:,.2f}%'}) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

## **7.6: Display Test Scores/Passing Rates (Mean/Median) by Spending Ranges**

In [85]:
pandas_processx.return_formatted_table \
    (mean_median_summary_dataframe,
     'Table 7.6: Test Scores/Passing Rates (Mean/Median) by Spending Ranges',
     hide_index_boolean = False) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

# <br> **Section 8: School Metrics with School Size Categories**

## **8.1: Calculations**

In [86]:
# This line of code creates a copy of the school summary DataFrame and assigns 
# it the the scores by school size DataFrame.
scores_by_school_size_dataframe = school_summary_dataframe.copy()

# This line of code establishes the bins for the school size column. 
school_size_bins_integer_list = [0, 1000, 2000, 5000]

# This line of code establishes the labels for the school size column.
school_size_labels_string_list = ['Small (<1000)', 'Medium (1000-2000)', 'Large (2000-5000)']

In [87]:
# This line of code creates a new column in the scores by school size DataFrame
# for school size: the Pandas subroutine, `pd.cut`, creates the school sizes 
# based on the predefined bins and labels and assigns them to the new column.
scores_by_school_size_dataframe['school_size'] \
    = pd.cut \
        (x = scores_by_school_size_dataframe \
                [scores_by_school_size_dataframe.keys() \
                            [city_schools_constants.school_summary_keys_enumeration.TOTAL_STUDENTS.value]],
                 bins = school_size_bins_integer_list,
                 labels = school_size_labels_string_list)

scores_by_school_size_dataframe.index.name = 'school_name'

logx.log_write_object(scores_by_school_size_dataframe['school_size'])

## **8.2: Display School Metrics with School Size Categories**

In [88]:
highlight_column_string_list \
    = ['total_students', 
       'total_school_budget',
       'per_student_budget',
       'average_math_score',
       'average_reading_score',
       '%_passing_math',
       '%_passing_reading',
       '%_overall_passing']

pandas_processx.return_formatted_table \
    (scores_by_school_size_dataframe,
     'Table 8.2: School Metrics with School Size Categories',
     hide_index_boolean = False) \
        .format \
            ({'total_students': '{:,}',
              'total_school_budget': '${:,}',
              'per_student_budget': '${:,}',
              'average_math_score': '{:,.2f}',
              'average_reading_score': '{:,.2f}',
              '%_passing_math': '{:,.2f}%',
              '%_passing_reading': '{:,.2f}%',
              '%_overall_passing': '{:,.2f}%'}) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

# <br> **Section 9: Financial Metrics by School Size**

## **9.1: Financial Metrics (Mean) by School Size**

## **Calculations**

In [89]:
size_mean_total_students_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_size', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.TOTAL_STUDENTS.value]] \
        .mean()

logx.log_write_object(size_mean_total_students_series)

In [90]:
size_mean_total_school_budget_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_size', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.TOTAL_SCHOOL_BUDGET.value]] \
        .mean()

logx.log_write_object(size_mean_total_school_budget_series)

In [91]:
size_mean_per_student_budget_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_size', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.PER_STUDENT_BUDGET.value]] \
        .mean()

logx.log_write_object(size_mean_per_student_budget_series)

## **Summary of Calculations**

In [92]:
size_mean_financial_metrics_dataframe \
    = pd.concat \
        ({'total_students': size_mean_total_students_series,
          'total_school_budget': size_mean_total_school_budget_series,
          'per_student_budget': size_mean_per_student_budget_series},
         axis = 1)

size_mean_financial_metrics_dataframe.index.name = 'school_size'

logx.log_write_object(size_mean_financial_metrics_dataframe)

## **9.2: Financial Metrics (Median) by School Size**

## **Calculations**

In [93]:
size_median_total_students_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_size', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.TOTAL_STUDENTS.value]] \
        .median()

logx.log_write_object(size_median_total_students_series)

In [94]:
size_median_total_school_budget_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_size', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.TOTAL_SCHOOL_BUDGET.value]] \
        .median()

logx.log_write_object(size_median_total_school_budget_series)

In [95]:
size_median_per_student_budget_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_size', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.PER_STUDENT_BUDGET.value]] \
        .median()

logx.log_write_object(size_median_per_student_budget_series)

## **Summary of Calculations**

In [96]:
size_median_financial_metrics_dataframe \
    = pd.concat \
        ({'total_students': size_median_total_students_series,
          'total_school_budget': size_median_total_school_budget_series,
          'per_student_budget': size_median_per_student_budget_series},
         axis = 1)

size_median_financial_metrics_dataframe.index.name = 'school_size'

logx.log_write_object(size_median_financial_metrics_dataframe)

## **9.3: Financial Metrics (Mean/Median) by School Size**

## **Summary of Calculations**

In [97]:
size_mean_median_financial_metrics_dataframe \
    = size_mean_financial_metrics_dataframe \
        .compare \
            (size_median_financial_metrics_dataframe,
             align_axis = 1,
             keep_shape = True,
             keep_equal = True) \
        .rename \
            (columns = {'self': 'Mean', 'other': 'Median'}, 
             level = -1)

size_mean_median_financial_metrics_dataframe.index.name = 'school_size'

logx.log_write_object(size_mean_median_financial_metrics_dataframe)

## **9.4: Display Financial Metrics (Mean) by School Size**

In [98]:
highlight_column_string_list = ['total_students', 'total_school_budget', 'per_student_budget']

pandas_processx.return_formatted_table \
    (size_mean_financial_metrics_dataframe,
     'Table 9.4: Financial Metrics by School Size (Mean)',
     hide_index_boolean = False) \
        .format \
            ({'total_students': '{:,.2f}',
              'total_school_budget': '${:,.2f}',
              'per_student_budget': '${:,.2f}'}) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

## **9.5: Display Financial Metrics (Median) by School Size**

In [99]:
pandas_processx.return_formatted_table \
    (size_median_financial_metrics_dataframe,
     'Table 9.5: Financial Metrics by School Size (Median)',
     hide_index_boolean = False) \
        .format \
            ({'total_students': '{:,.2f}',
              'total_school_budget': '${:,.2f}',
              'per_student_budget': '${:,.2f}'}) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

## **9.6: Display Financial Metrics (Mean/Median) by School Size**

In [100]:
pandas_processx.return_formatted_table \
    (size_mean_median_financial_metrics_dataframe,
     'Table 9.6: Financial Metrics by School Size (Mean/Median)',
     hide_index_boolean = False) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

# <br> **Section 10: Test Scores/Passing Rates by School Size**

## **10.1: Test Scores/Passing Rates (Mean) by School Size**

## **Calculations**

In [101]:
size_mean_math_scores_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_size', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.MATH_SCORE.value]] \
        .mean()

logx.log_write_object(size_mean_math_scores_series)

In [102]:
size_mean_reading_scores_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_size', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.READING_SCORE.value]] \
        .mean()

logx.log_write_object(size_mean_reading_scores_series)

In [103]:
size_mean_math_passing_rate_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_size', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.PERCENT_PASSING_MATH.value]] \
        .mean()

logx.log_write_object(size_mean_math_passing_rate_series)

In [104]:
size_mean_reading_passing_rate_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_size', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.PERCENT_PASSING_READING.value]] \
        .mean()

logx.log_write_object(size_mean_reading_passing_rate_series)

In [105]:
size_mean_overall_passing_rate_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_size', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.PERCENT_OVERALL_PASSING.value]] \
        .mean()

logx.log_write_object(size_mean_overall_passing_rate_series)

## **Summary of Calculations**

In [106]:
size_mean_summary_dataframe \
    = pd.concat \
        ({'math_score': size_mean_math_scores_series,
          'reading_score': size_mean_reading_scores_series,
          '%_passing_math': size_mean_math_passing_rate_series,
          '%_passing_reading': size_mean_reading_passing_rate_series,
          '%_overall_passing': size_mean_overall_passing_rate_series},
         axis = 1)

size_mean_summary_dataframe.index.name = 'school_size'

logx.log_write_object(size_mean_summary_dataframe)

## **10.2: Test Scores/Passing Rates (Median) by School Size**

## **Calculations**

In [107]:
size_median_math_scores_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_size', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.MATH_SCORE.value]] \
        .median()

logx.log_write_object(size_median_math_scores_series)

In [108]:
size_median_reading_scores_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_size', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.READING_SCORE.value]] \
        .median()

logx.log_write_object(size_median_reading_scores_series)

In [109]:
size_median_math_passing_rate_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_size', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.PERCENT_PASSING_MATH.value]] \
        .median()

logx.log_write_object(size_median_math_passing_rate_series)

In [110]:
size_median_reading_passing_rate_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_size', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.PERCENT_PASSING_READING.value]] \
        .median()

logx.log_write_object(size_median_reading_passing_rate_series)

In [111]:
size_median_overall_passing_rate_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_size', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.PERCENT_OVERALL_PASSING.value]] \
        .median()

logx.log_write_object(size_median_overall_passing_rate_series)

## **Summary of Calculations**

In [112]:
size_median_summary_dataframe \
    = pd.concat \
        ({'math_score': size_median_math_scores_series,
          'reading_score': size_median_reading_scores_series,
          '%_passing_math': size_median_math_passing_rate_series,
          '%_passing_reading': size_median_reading_passing_rate_series,
          '%_overall_passing': size_median_overall_passing_rate_series},
         axis = 1)

size_median_summary_dataframe.index.name = 'school_size'

logx.log_write_object(size_median_summary_dataframe)

## **10.3: Test Scores/Passing Rates (Mean/Median) by School Size**

## **Summary of Calculations**

In [113]:
size_mean_median_summary_dataframe \
    = size_mean_summary_dataframe \
        .compare \
            (size_median_summary_dataframe,
             align_axis = 1,
             keep_shape = True,
             keep_equal = True) \
        .rename \
            (columns = {'self': 'Mean', 'other': 'Median'}, 
             level = -1)

size_mean_median_summary_dataframe.index.name = 'school_size'

logx.log_write_object(size_mean_median_summary_dataframe)

## **10.4: Display Test Scores/Passing Rates (Mean) by School Size**

In [114]:
highlight_column_string_list \
    = ['math_score', 
       'reading_score',
       '%_passing_math',
       '%_passing_reading',
       '%_overall_passing']

pandas_processx.return_formatted_table \
    (size_mean_summary_dataframe,
     'Table 10.4: Test Scores/Passing Rates (Mean) by School Size',
     hide_index_boolean = False) \
        .format \
            ({'math_score': '{:,.2f}',
              'reading_score': '{:,.2f}',
              '%_passing_math': '{:,.2f}%',
              '%_passing_reading': '{:,.2f}%',
              '%_overall_passing': '{:,.2f}%'}) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

## **10.5: Display Test Scores/Passing Rates (Median) by School Size**

In [115]:
pandas_processx.return_formatted_table \
    (size_median_summary_dataframe,
     'Table 10.5: Test Scores/Passing Rates (Median) by School Size',
     hide_index_boolean = False) \
        .format \
            ({'math_score': '{:,.2f}',
              'reading_score': '{:,.2f}',
              '%_passing_math': '{:,.2f}%',
              '%_passing_reading': '{:,.2f}%',
              '%_overall_passing': '{:,.2f}%'}) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

## **10.6: Display Test Scores/Passing Rates (Mean/Median) by School Size**

In [116]:
pandas_processx.return_formatted_table \
    (size_mean_median_summary_dataframe,
     'Table 10.6: Test Scores/Passing Rates (Mean/Median) by School Size',
     hide_index_boolean = False) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

# <br> **Section 11: Financial Metrics by School Type**

## **11.1: Financial Metrics (Mean) by School Type**

## **Calculations**

In [117]:
type_mean_total_students_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_type', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.TOTAL_STUDENTS.value]] \
        .mean()

logx.log_write_object(type_mean_total_students_series)

In [118]:
type_mean_total_school_budget_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_type', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.TOTAL_SCHOOL_BUDGET.value]] \
        .mean()

logx.log_write_object(type_mean_total_school_budget_series)

In [119]:
type_mean_per_student_budget_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_type', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.PER_STUDENT_BUDGET.value]] \
        .mean()

logx.log_write_object(type_mean_per_student_budget_series)

## **Summary of Calculations**

In [120]:
type_mean_financial_summary_dataframe \
    = pd.concat \
        ({'total_students': type_mean_total_students_series,
          'total_school_budget': type_mean_total_school_budget_series,
          'per_student_budget': type_mean_per_student_budget_series},
         axis = 1)

type_mean_financial_summary_dataframe.index.name = 'school_type'

logx.log_write_object(type_mean_financial_summary_dataframe)

## **11.2: Financial Metrics (Median) by School Type**

## **Calculations**

In [121]:
type_median_total_students_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_type', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.TOTAL_STUDENTS.value]] \
        .median()

logx.log_write_object(type_median_total_students_series)

In [122]:
type_median_total_school_budget_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_type', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.TOTAL_SCHOOL_BUDGET.value]] \
        .median()

logx.log_write_object(type_median_total_school_budget_series)

In [123]:
type_median_per_student_budget_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_type', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.PER_STUDENT_BUDGET.value]] \
        .median()

logx.log_write_object(type_median_per_student_budget_series)

## **Summary of Calculations**

In [124]:
type_median_financial_summary_dataframe \
    = pd.concat \
        ({'total_students': type_median_total_students_series,
          'total_school_budget': type_median_total_school_budget_series,
          'per_student_budget': type_median_per_student_budget_series},
         axis = 1)

type_median_financial_summary_dataframe.index.name = 'school_type'

logx.log_write_object(type_median_financial_summary_dataframe)

## **11.3: Financial Metrics (Mean/Median) by School Type**

## **Summary of Calculations**

In [125]:
type_mean_median_financial_summary_dataframe \
    = type_mean_financial_summary_dataframe \
        .compare \
            (type_median_financial_summary_dataframe,
             align_axis = 1,
             keep_shape = True,
             keep_equal = True) \
        .rename \
            (columns = {'self': 'Mean', 'other': 'Median'},
             level = -1)

type_mean_median_financial_summary_dataframe.index.name = 'school_type'

logx.log_write_object(type_mean_median_financial_summary_dataframe)

## **11.4: Display Financial Metrics (Mean) by School Type**

In [126]:
highlight_column_string_list = ['total_students', 'total_school_budget', 'per_student_budget']

pandas_processx.return_formatted_table \
    (type_mean_financial_summary_dataframe,
     'Table 11.4: Financial Metrics by School Type (Mean)',
     hide_index_boolean = False) \
        .format \
            ({'total_students': '{:,.2f}',
              'total_school_budget': '${:,.2f}',
              'per_student_budget': '${:,.2f}'}) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

## **11.5: Display Financial Metrics (Median) by School Type**

In [127]:
pandas_processx.return_formatted_table \
    (type_median_financial_summary_dataframe,
     'Table 11.5: Financial Metrics by School Type (Median)',
     hide_index_boolean = False) \
        .format \
            ({'total_students': '{:,.2f}',
              'total_school_budget': '${:,.2f}',
              'per_student_budget': '${:,.2f}'}) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

## **11.6: Display Financial Metrics (Mean/Median) by School Type**

In [128]:
pandas_processx.return_formatted_table \
    (type_mean_median_financial_summary_dataframe,
     'Table 11.6: Financial Metrics by School Type (Mean/Median)',
     hide_index_boolean = False) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

# <br> **Section 12: Test Scores/Passing Rates by School Type**

## **12.1: Test Scores/Passing Rates (Mean) by School Type**

## **Calculations**

In [129]:
type_mean_math_scores_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_type', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.MATH_SCORE.value]] \
        .mean()

logx.log_write_object(type_mean_math_scores_series)

In [130]:
type_mean_reading_scores_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_type', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.READING_SCORE.value]] \
        .mean()

logx.log_write_object(type_mean_reading_scores_series)

In [131]:
type_mean_passing_math_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_type', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.PERCENT_PASSING_MATH.value]] \
        .mean()

logx.log_write_object(type_mean_passing_math_series)

In [132]:
type_mean_passing_reading_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_type', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.PERCENT_PASSING_READING.value]] \
        .mean()

logx.log_write_object(type_mean_passing_reading_series)

In [133]:
type_mean_overall_passing_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_type', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.PERCENT_OVERALL_PASSING.value]] \
        .mean()

logx.log_write_object(type_mean_overall_passing_series)

## **Summary of Calculations**

In [134]:
type_mean_summary_dataframe \
    = pd.concat \
        ({'math_score': type_mean_math_scores_series,
          'reading_score': type_mean_reading_scores_series,
          '%_passing_math': type_mean_passing_math_series,
          '%_passing_reading': type_mean_passing_reading_series,
          '%_overall_passing': type_mean_overall_passing_series},
         axis = 1)

type_mean_summary_dataframe.index.name = 'school_type'

logx.log_write_object(type_mean_summary_dataframe)

## **12.2: Test Scores/Passing Rates (Median) by School Type**

## **Calculations**

In [135]:
type_median_math_scores_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_type', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.MATH_SCORE.value]] \
        .median()

logx.log_write_object(type_median_math_scores_series)

In [136]:
type_median_reading_scores_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_type', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.READING_SCORE.value]] \
        .median()

logx.log_write_object(type_median_reading_scores_series)

In [137]:
type_median_passing_math_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_type', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.PERCENT_PASSING_MATH.value]] \
        .median()

logx.log_write_object(type_median_passing_math_series)

In [138]:
type_median_passing_reading_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_type', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.PERCENT_PASSING_READING.value]] \
        .median()

logx.log_write_object(type_median_passing_reading_series)

In [139]:
type_median_overall_passing_series \
    = scores_by_school_size_dataframe \
        .groupby \
            ('school_type', 
             observed = False) \
                [scores_by_school_size_dataframe.keys() \
                    [city_schools_constants.school_summary_keys_enumeration.PERCENT_OVERALL_PASSING.value]] \
        .median()

logx.log_write_object(type_median_overall_passing_series)

## **Summary of Calculations**

In [140]:
type_median_summary_dataframe \
    = pd.concat \
        ({'math_score': type_median_math_scores_series,
          'reading_score': type_median_reading_scores_series,
          '%_passing_math': type_median_passing_math_series,
          '%_passing_reading': type_median_passing_reading_series,
          '%_overall_passing': type_median_overall_passing_series},
         axis = 1)

type_median_summary_dataframe.index.name = 'school_type'

logx.log_write_object(type_median_summary_dataframe)

## **12.3: Test Scores/Passing Rates (Mean/Median) by School Type**

## **Summary of Calculations**

In [141]:
type_mean_median_summary_dataframe \
    = type_mean_summary_dataframe \
        .compare \
            (type_median_summary_dataframe,
             align_axis = 1,
             keep_shape = True,
             keep_equal = True) \
        .rename \
            (columns = {'self': 'Mean', 'other': 'Median'},
             level = -1)

type_mean_median_summary_dataframe.index.name = 'school_type'

logx.log_write_object(type_mean_median_summary_dataframe)

## **12.4: Display Test Scores/Passing Rates (Mean) by School Type**

In [142]:
highlight_column_string_list \
    = ['math_score', 
       'reading_score',
       '%_passing_math',
       '%_passing_reading',
       '%_overall_passing']

pandas_processx.return_formatted_table \
    (type_mean_summary_dataframe,
     'Table 12.4: Display Test Scores/Passing Rates (Mean) by School Type',
     hide_index_boolean = False) \
        .format \
            ({'math_score': '{:,.2f}',
              'reading_score': '{:,.2f}',
              '%_passing_math': '{:,.2f}%',
              '%_passing_reading': '{:,.2f}%',
              '%_overall_passing': '{:,.2f}%'}) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

## **12.5: Display Test Scores/Passing Rates (Median) by School Type**

In [143]:
pandas_processx.return_formatted_table \
    (type_median_summary_dataframe,
     'Table 12.5: Display Test Scores/Passing Rates (Median) by School Type',
     hide_index_boolean = False) \
        .format \
            ({'math_score': '{:,.2f}',
              'reading_score': '{:,.2f}',
              '%_passing_math': '{:,.2f}%',
              '%_passing_reading': '{:,.2f}%',
              '%_overall_passing': '{:,.2f}%'}) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

## **12.6: Display Test Scores/Passing Rates (Mean/Median) by School Type**

In [144]:
pandas_processx.return_formatted_table \
    (type_mean_median_summary_dataframe,
     'Table 12.6: Display Test Scores/Passing Rates (Mean/Median) by School Type',
     hide_index_boolean = False) \
        .format \
            ({'math_score': '{:,.2f}',
              'reading_score': '{:,.2f}',
              '%_passing_math': '{:,.2f}%',
              '%_passing_reading': '{:,.2f}%',
              '%_overall_passing': '{:,.2f}%'}) \
        .highlight_max(highlight_column_string_list, color = 'lime') \
        .highlight_min(highlight_column_string_list, color = 'yellow')

In [145]:
#logx.end_program()